*.log
venv/
.venv/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.env
*.sqlite3
*.db
*.bak
*.tmp
*.swp
*.swo
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.zip
coverage/
htmlcov/
.coverage
.coverage.*
nosetests.xml
pytest_cache/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.pyre_configuration.local
.pyre_configuration
